.about{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    color: white;
    width: 50%;
    margin: auto;
    line-height: 30px;
}
@media only screen and (max-width:520px) {
    p{
        width: 85%;
    }
    .about{
        margin-bottom: 10px;
    }
}